IMPORT LIB

In [31]:
import pandas as pd
import numpy as np
import xlwt

DONWLOAD FILE TEST

In [32]:
!gdown --id 15zW6ehWDbjWCpPA4Cmi99nFeY1-wjbG1

Downloading...
From: https://drive.google.com/uc?id=15zW6ehWDbjWCpPA4Cmi99nFeY1-wjbG1
To: /content/test.xls
100% 25.6k/25.6k [00:00<00:00, 3.74MB/s]

DONWLOAD TRAINING DATA

In [33]:
!gdown --id 1rFd_1NiSsxLCAzvdFz-9lh9NJEfBRg02

Downloading...
From: https://drive.google.com/uc?id=1rFd_1NiSsxLCAzvdFz-9lh9NJEfBRg02
To: /content/mobil.xls
100% 29.2k/29.2k [00:00<00:00, 3.80MB/s]

MEMBACA FILE TEST

In [34]:
tes = pd.read_excel('test.xls')

MEMBACA FILE TRAINNING DATA

In [35]:
data = pd.read_excel('mobil.xls')

FUNGSI MENGHITUNG EUCLIDEAN

In [36]:
def euclidean(x, y):
  #x=list 1 mobil
  #y=list data test
  n1 = x[1]-y[0][1]
  n2 = x[2]-y[0][2]
  n3 = x[3]-y[0][3]
  n4 = x[4]-y[0][4]
  n5 = x[5]-y[0][5]
  return ((n1)**2 + (n2)**2 + (n3)**2 + (n4)**2 + (n5)**2)**(1/2)

FUNGSI MENGHITUNG MANHATTAN

In [37]:
def manhattan(x, y):
  #x=list 1 mobil
  #y=list data test
  n1 = x[1]-y[0][1]
  n2 = x[2]-y[0][2]
  n3 = x[3]-y[0][3]
  n4 = x[4]-y[0][4]
  n5 = x[5]-y[0][5]
  return (abs(n1) + abs(n2) + abs(n3) + abs(n4) + abs(n5))

FUNGSI MENGHITUNG MINKOWSKI

In [38]:
def minkowski(x, y):
  #x=list 1 mobil
  #y=list data test
  #h=1.5=3/2
  n1 = (abs(x[1]-y[0][1]))**(3/2)
  n2 = (abs(x[2]-y[0][2]))**(3/2)
  n3 = (abs(x[3]-y[0][3]))**(3/2)
  n4 = (abs(x[4]-y[0][4]))**(3/2)
  n5 = (abs(x[5]-y[0][5]))**(3/2)
  return (n1 + n2 + n3 + n4 + n5)**(2/3)

FUNGSI MENGHITUNG SUPREMUM

In [39]:
def supremum(x, y):
  #x=list 1 mobil
  #y=list data test
  n1 = (abs(x[1]-y[0][1]))
  n2 = (abs(x[2]-y[0][2]))
  n3 = (abs(x[3]-y[0][3]))
  n4 = (abs(x[4]-y[0][4]))
  n5 = (abs(x[5]-y[0][5]))
  return max(n1, n2, n3, n4, n5)

MAIN PROGRAM

In [40]:
#define beberapa array
jarak = []
euc_list = []
man_list = []
min_list = []
supre_list = []
#ubah dataframe menjadi array
jarak = data.to_numpy()
test = tes.to_numpy()
#lakukan proses penghitungan setiap data
for i in range(17):
  euc_list.append(euclidean(jarak[i], test)) 
  man_list.append(manhattan(jarak[i], test))
  min_list.append(minkowski(jarak[i], test))
  supre_list.append(supremum(jarak[i], test))
#masukan hasil perhitungan kedalam dataframe
data.insert(6,"Euclidean Distance",euc_list,True)
data.insert(7,"Manhattan Distance",man_list,True)
data.insert(8,"Minkowski Distance",min_list,True)
data.insert(9,"Supremum Distance",supre_list,True)
pd.set_option('display.width', 200)
pd.set_option('display.max_columns', None)
data.sort_values(by=['Manhattan Distance'], inplace=True) # jika ingin me-run program gunakan run all, jika tidak maka kolom dataframe akan bertambah terus
print("---------------------------------------Berikut mobil yang mendekati input berdasarkan Manhattan Distance-----------------------------------------------")
print(data.iloc[:6])
result = data.to_numpy()
#masukan hasil ke dalam excel
workbook = xlwt.Workbook()
worksheet = workbook.add_sheet('Hasil')
for i in range(3):
  worksheet.write(i,0,result[i][0])
workbook.save('Rekomendasi_Manhattan.xls')
data.sort_values(by=['Euclidean Distance'], inplace=True) # jika ingin me-run program gunakan run all, jika tidak maka kolom dataframe akan bertambah terus
print("---------------------------------------Berikut mobil yang mendekati input berdasarkan Euclidean Distance-----------------------------------------------")
print(data.iloc[:6])
result = data.to_numpy()
#masukan hasil ke dalam excel
workbook = xlwt.Workbook()
worksheet = workbook.add_sheet('Hasil')
for i in range(3):
  worksheet.write(i,0,result[i][0])
workbook.save('Rekomendasi_Euclidean.xls')
data.sort_values(by=['Minkowski Distance'], inplace=True) # jika ingin me-run program gunakan run all, jika tidak maka kolom dataframe akan bertambah terus
print("---------------------------------------Berikut mobil yang mendekati input berdasarkan Minkowski Distance-----------------------------------------------")
print(data.iloc[:6])
result = data.to_numpy()
#masukan hasil ke dalam excel
workbook = xlwt.Workbook()
worksheet = workbook.add_sheet('Hasil')
for i in range(3):
  worksheet.write(i,0,result[i][0])
workbook.save('Rekomendasi_Minkowski.xls')
data.sort_values(by=['Supremum Distance'], inplace=True) # jika ingin me-run program gunakan run all, jika tidak maka kolom dataframe akan bertambah terus
print("---------------------------------------Berikut mobil yang mendekati input berdasarkan Supremum Distance-----------------------------------------------")
print(data.iloc[:6])
result = data.to_numpy()
#masukan hasil ke dalam excel
workbook = xlwt.Workbook()
worksheet = workbook.add_sheet('Hasil')
for i in range(3):
  worksheet.write(i,0,result[i][0])
workbook.save('Rekomendasi_Supremum.xls')

---------------------------------------Berikut mobil yang mendekati input berdasarkan Manhattan Distance-----------------------------------------------
        Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)  Euclidean Distance  Manhattan Distance  Minkowski Distance  Supremum Distance
3   Daihatsu Xenia       6           4     6          6                1.75            3.816084                6.75            4.540186                3.0
2    Toyota Avanza       6           5     6          6                2.00            4.000000                8.00            4.953453                3.0
5           Livina       7           7     6          7                2.10            4.267318                8.10            5.243433                3.0
4          Xpander       7           7     6          7                2.25            4.308422                8.25            5.314190                3.0
7    Toyota Innova       8           8     5          7                4.00            5.196152                9.00            6.135111                4.0
15   Suzuki Ertiga       7           7     7          7                2.30            4.867237                9.30            6.001639                3.0
---------------------------------------Berikut mobil yang mendekati input berdasarkan Euclidean Distance-----------------------------------------------
        Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)  Euclidean Distance  Manhattan Distance  Minkowski Distance  Supremum Distance
3   Daihatsu Xenia       6           4     6          6                1.75            3.816084                6.75            4.540186                3.0
2    Toyota Avanza       6           5     6          6                2.00            4.000000                8.00            4.953453                3.0
5           Livina       7           7     6          7                2.10            4.267318                8.10            5.243433                3.0
4          Xpander       7           7     6          7                2.25            4.308422                8.25            5.314190                3.0
15   Suzuki Ertiga       7           7     7          7                2.30            4.867237                9.30            6.001639                3.0
7    Toyota Innova       8           8     5          7                4.00            5.196152                9.00            6.135111                4.0
---------------------------------------Berikut mobil yang mendekati input berdasarkan Minkowski Distance-----------------------------------------------
        Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)  Euclidean Distance  Manhattan Distance  Minkowski Distance  Supremum Distance
3   Daihatsu Xenia       6           4     6          6                1.75            3.816084                6.75            4.540186                3.0
2    Toyota Avanza       6           5     6          6                2.00            4.000000                8.00            4.953453                3.0
5           Livina       7           7     6          7                2.10            4.267318                8.10            5.243433                3.0
4          Xpander       7           7     6          7                2.25            4.308422                8.25            5.314190                3.0
15   Suzuki Ertiga       7           7     7          7                2.30            4.867237                9.30            6.001639                3.0
7    Toyota Innova       8           8     5          7                4.00            5.196152                9.00            6.135111                4.0
---------------------------------------Berikut mobil yang mendekati input berdasarkan Supremum Distance-----------------------------------------------
        Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)  Euclidean Distance  Manhattan Distance  Minkowski Distance  Supremum Distance
3   Daihatsu Xenia       6           4     6          6                1.75            3.816084                6.75            4.540186                3.0
2    Toyota Avanza       6           5     6          6                2.00            4.000000                8.00            4.953453                3.0
5           Livina       7           7     6          7                2.10            4.267318                8.10            5.243433                3.0
4          Xpander       7           7     6          7                2.25            4.308422                8.25            5.314190                3.0
15   Suzuki Ertiga       7           7     7          7                2.30            4.867237                9.30            6.001639                3.0
10      Honda City       5           8     7          8                2.70            6.700000               13.70            8.415443                4.0